/target/
vendor/

.idea/
*.iml

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

*.sublime-project
*.sublime-workspace

*~
*.swp
*.swo
.dir-locals.el

.DS_Store
.AppleDouble
.LSOverride

Thumbs.db
ehthumbs.db
Desktop.ini

.fuse_hidden
.directory
.Trash-*

.env
.env.local
.env.*.local

*.profraw
/coverage/

doc/

core
vgcore.*

__pycache__/
*.py[cod]